# List of files / directories, that will not be part of the npm distribution.
# Here should be named everything that isn't needed when running the module.

# CI servers config
.travis.yml
appveyor.yml

# tests sources folder
spec/

# gitignore file is not needed in distribution version
.gitignore

Dockerfile
